*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main{

    height: 100vh;
    width: 100vw;
}
/* ------------------------navigation css-------------------------------------------------- */



nav{


    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: white;
    border-bottom: 2px solid #55A439;
}

nav .left{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
}

nav .left img{
    height: 6vh;
}

nav .right{
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 45vw;
}

nav h3:hover{
    background-color: #56a4394f;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}


.section1{
    height: 90%;
    width: 100%;
    padding-left: 8vh;
    padding-top: 5vh;
    

}
.section1 h1{
    color: #55A439;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    width: max-content;
    margin: auto;
}
.section1 img{
    margin: 10vh;
    height: 50vh;
}
.section1 p{
    margin-left: 10%;
    width: 80%;
  font-family: 'Courier New', Courier, monospace;
}
.section1 .lr{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
    
}

.lr .rblock{
     width: 50%;
}
.rblock h3{
    width: 100%;
    margin-top: 4vh;
    padding-right: 20vh;
    text-align: right;
}


.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    height: 100%;
  }
  
  .section2 h1 {
    margin-bottom: 20px;
    color: #55A439;
  }

  .section2 .lr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .section2 .lr img {
    width: 25%;
    height: auto;
    
  }

  .section2 .rblock {
    width: 50%;
    padding: 20px;
  }

  .section2 .rblock p {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
  }





/*----------------------- footer starts here -------------------- */





footer{
    /* border-top: 2px solid black; */
    width: 100vw;
    height: 50vh;
    background-image: url(/assets/footer-background.jpg);
    background-size: 110%;
    background-position: center;
}

footer h1{
    color: #55A439;
    margin: 10px;
    padding: 10px;

}
footer .inpbtn{
    margin: 0px 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    width: 22vw;
}
footer .inpbtn input{
    border: none;
    width: 75%;
    height: 100%;
}
footer .inpbtn button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
}
footer a{
    color: #55A439;
    display: block;
    margin: 10px;
    padding: 10px;
}

footer h4{
    color: #55A439;
    margin: 10px;
    padding: 10px;
}